<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../../../node_modules/bulma/css/bulma.min.css" />
        <script defer src="../../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
        <title>Presenter view</title>
    </head>
    <body>
        <div class="columns" style="height: 100vh;">
            <div class="column is-three-fifths has-background-light" id="left-panel">
                <div>Current slide</div>
            </div>
            <div class="column" id="right-panel">
                <div>
                    <div class="has-background-grey-lighter" style="height: 45vh;">Next slide</div>
                    <div class="has-background-grey-light" style="height: 10vh;">
                        <div class="is-size-6">TIME</div>
                        <div class="columns">
                            <div class="column">
                                <p class="is-size-3">00:01:32</p>
                            </div>
                            <div class="column has-text-right">
                                <p class="is-size-3">3:24 PM</p>
                            </div>
                        </div>
                    </div>
                    <div class="has-background-light" style="height: 45vh;">
                        <div class="is-size-6">NOTES</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
