#current,
#current-mobile {
    height: 100vh;
    padding: 0.3rem;
}
#current-mobile {
    height: 40vh;
}
#next,
#next-mobile {
    height: 45vh;
    padding: 0.3rem 0.3rem 0 0;
}
#next-mobile {
    height: 35vh;
}
.timer-title {
    margin-top: 0.5rem;
    height: 1rem;
}
#notes {
    height: auto;
    padding: 0.3rem 0.3rem 0.3rem 0;
}
.content {
    height: 100%;
    padding: 0.5rem;
}
