<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../../../../node_modules/bulma/css/bulma.min.css" />
        <link rel="stylesheet" href="index.css" />
        <script defer src="../../../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
        <!-- type="module" not needed because we work with parcel bundler -->
        <script defer src="../../web-components/slide-view/slide-view.js"></script>
        <script defer src="../../web-components/url-form/url-form.js"></script>
        <script defer src="../../web-components/clock/clock.js"></script>
        <script defer src="../../web-components/timer/timer.js"></script>
        <script defer src="../../web-components/notes/notes.js"></script>
        <script defer src="../../web-components/menu-navigation/menu-navigation.js"></script>
        <title>Presenter view</title>
    </head>
    <body>
        <section class="columns is-marginless is-paddingless">
            <tc-menu-navigation></tc-menu-navigation>
            <div class="column is-three-fifths" id="current">
                <div class="content">
                    <tc-slide focus></tc-slide>
                </div>
            </div>
            <div class="column is-paddingless has-background-white">
                <div class="has-background-white" id="next">
                    <div class="content">
                        <tc-slide delta="1"></tc-slide>
                    </div>
                </div>
                <div class="has-background-white" id="timer">
                    <div class="content">
                        <tc-timer></tc-timer>
                    </div>
                </div>
                <div class="has-background-white" id="notes">
                    <div class="content">
                        <tc-notes></tc-notes>
                    </div>
                </div>
            </div>
        </section>
        <script src="./index.js"></script>
    </body>
</html>
