<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script type="module" src="../common/slide-view/slide-view.js"></script>
        <script type="module" src="../common/url-form/url-form.js"></script>
        <title>On stage</title>
    </head>
    <body>
        <tc-url-form></tc-url-form>
        <tc-slide class="is-hidden" style="width: 100%; min-height: 100vh;"></tc-slide>
        <script src="./index.js"></script>
    </body>
</html>
