<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>On stage</title>
    </head>
    <body>
        <section id="header">
            <div class="mt-1 ml-2 has-text-left"><tc-menu-navigation></tc-menu-navigation></div>
            <div><tc-clock></tc-clock></div>
            <div class="mt-1 mr-2 has-text-right"><tc-menu-plugins></tc-menu-plugins></div>
        </section>
        <tc-loader>
            <section slot="success" class="columns is-marginless">
                <div class="column is-paddingless" id="current">
                    <tc-slide id="currentSlide" fullscreen focus></tc-slide>
                </div>
            </section>
            <section slot="error">
                <div class="container is-max-desktop">
                    <tc-magic-info></tc-magic-info>
                </div>
            </section>
        </tc-loader>
    </body>
</html>
